/* style.css */
:root {
  --accent-color: #faff70;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 220px;
  background: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #222;
  max-height: 100%;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 18px;
  color: var(--accent-color);
}

.folder {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  height: calc(1lh + 20px);
  text-overflow: ellipsis;
  width: 100%;
  overflow-x: clip;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.folder:hover {
  background-color: #1db954;
  color: #000;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1lh;
  width: 1lh;
  text-align: center;
  margin-right: 10px;
}

.sidebar-logo-img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: auto;
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  left: -20px;
}

.mobile-sidebar-controller {
  height: 2lh;
  width: 2lh;
  background-image: url(./assets/menu-open-enlarged.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border-top-right-radius: 0.2lh;
  border-bottom-right-radius: 0.2lh;
  border: 1px solid var(--accent-color);
  border-left: none;

  position: relative;
  left: 0;

  display: none;

  z-index: 9999;
}

.sidebar.mobile-visible ~ .main .mobile-sidebar-controller {
  position: relative;
  left: 220px;
  background-image: url(./assets/menu-close-enlarged.png);
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.top-bar h1 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: 10px;
}

.tg-holder {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}

.track-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding-bottom: 107px;
}

.track {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px var(--accent-color) inset;
  overflow: clip;
}

.track:hover {
  background: var(--accent-color);
  color: #000;
}

.track-artist, .track-title {
  width: 100%;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: clip;
  white-space: nowrap;
}

.track-artist {
  font-size: 0.8em;
  color: #999999;
  margin-top: 0.2em;
}

.player-bar {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #181818;
  border: 2px solid var(--accent-color);
  border-radius: 12px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 15px var(--accent-color);
  z-index: 1000;
  max-height: 94px;
}

.player-bar audio {
  display: none;
}

.track-info {
  color: var(--accent-color);
  font-size: 14px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-info.not-playing {
  color: #999999;
}

.play-visualiser {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid var(--accent-color);
  padding-left: 12.5px;
  padding-right: 12.5px;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@keyframes loading-vis {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.play-visualiser > .play-pause-button {
  height: 25px;
  width: 25px;
  background-image: url(./assets/play.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.play-pause-button.display-pause {
  background-image: url(./assets/pause.png);
}

.play-pause-button.loading-btn {
  cursor: unset;
  background-image: url(./assets/loading.png);
  animation: .7s linear infinite loading-vis;
}

.play-bar {
  width: calc(100% - 25px - 12.5px);
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.play-bar > * {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-bar > .player-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-progress > .player-prog-bar {
  width: calc(100% - 18px);
  margin: 0 9px;
  height: 5px;
  background-image: linear-gradient(to right, #999999 0% 100%, var(--accent-color) 100% 100%);
}

@media screen and (max-width: 760px) {
  .sidebar {
    border-right: 1px solid var(--accent-color);
    position: fixed;
    left: -220px;
    z-index: 1000;
    height: 100%;

    transition: left .45s;

    padding-bottom: calc(107px + 10px);
  }

  .sidebar.mobile-visible {
    left: 0;
  }

  .mobile-sidebar-controller {
    display: unset;
    transition: left .45s;
  }

  .main {
    min-width: 100vw;
  }

  .player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    box-shadow: none;
    border-top: 2px solid var(--accent-color);
    border-radius: 0;
    height: 107px;
    min-height: unset;
    max-height: unset;
    flex-direction: column;
  }

  .track-info {
    max-width: calc(100% - 32px);
    text-align: center;
  }
}